form{
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(135deg, #161a1d 0%, #283644 25%, #1e252b 50%, #161a1d 100%);
    outline: 3px solid red;
    
}
.form-wrapper{
    position: relative;
    flex-direction: column;
    justify-self: flex-start;
    justify-content: flex-start;
    padding-top:15px;
    display: flex;
    height: 100vh;
}
.wrapper{
    position: relative;
    display:flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
}
#header-border{
    
    width:250px;
    align-self: center;
    border-radius: 25px;
    background:linear-gradient(135deg, #2e333c 0%, #46556f 25%, #3a475b 50%, #2e333c 100%);
    background-size: 400% 400%;
     justify-content: center;
    align-items: center;
    height: 200px; /* Make the body take up the full viewport height */
    border: 10px solid #2c3135; /* Border color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: gradientAnimation 20s ease infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.toggle-wrapper>p{
    font-weight: 800;
}
form h3{
    color:white
}
.question-wrapper{
    position: relative;
    display:flex;
    flex-direction: column;
    max-height:700px;
    justify-content: flex-start;
    width: 40%;
    align-self: center;
    background: linear-gradient(135deg, #4b5364 0%, #7588a7 25%, #5b6d8b 50%, #4b5364 100%); /* Use the same gradient as the background */
    padding: 20px; 
    border-radius: 15px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    max-width: 400px; 
    margin: 0 auto; 
}
.question-wrapper.dark-mode{
min-height: 300px;
}
#number-value{
    display:flex;
    width:auto;
    height: 30px;
    margin-top:10px;

    gap:0px;
    flex-direction:column;
    align-items: center;
    justify-content: flex-end;
}
.content-container{
    display: flex;
    align-items: center;
    justify-content: center;
    outline:4px solid greenyellow;
    border-radius: 15px;
    margin-bottom: 15px;
}
.content-container{
    display: flex;
    flex-direction: column;
}
.info-div{
    display:flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
}
.category-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.category-container>select{
    color:#fe662b;
    font-weight: 800;
    text-align: center;
    border-radius:25px;
    height:30px;
}
.category-container>select>option{
    color:black;
}
.category-result{
    display:flex;
    flex-direction: column;
    height:50px;
    gap:0px;
    width: auto;
    
}
#public-category{
    width: auto;
    text-align: center;
    font-weight: 700;
    padding:5px;
    
}
#public-category::placeholder{
    color:#Fe662b;
    font-weight: 800;
}
#name-value{
    display:flex;
    flex-direction: column;
    width:auto;
    height:10px;
    gap:0px;
    white-space: nowrap;
    align-items: center;
    justify-content:flex-end;
}
#public-number{
    font-weight: 700;
    width: fit-content;
    text-align: center;
    padding:5px;
    font-weight:800;
    
    
}
#public-number::placeholder{
    color:blueviolet;
}
#public-name{
    font-weight: 700;
    width: fit-content;
    text-align: center;
    padding:5px;
    font-weight: 800;
}
#public-name::placeholder{
    color:black;
}

.toggle-wrapper{
  position: relative;
  display: flex;
  flex-direction: row;
  align-self:center;
  align-items: center;
  gap:10px;
  justify-content:flex-start;
  
}
.public-off{
    border: 2px solid black;
    padding: 3px;
    border-radius:4px;
    transition: opacity .3s ease;
    box-sizing: border-box;
    font-size: larger;
}
.material-icon{
    color:white;
    fill:green;
}
.public-off.true{
    color:white;
    box-sizing: border-box;
    border-color:white;
    border:white
    
}
#search-glass-wrapper{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap:5px;
}
#search-for-avail-room-button {
  padding-top: 2px;
  background: linear-gradient(135deg, #1a1f23 0%, #2a3a4c 25%, #232a30 50%, #1a1f23 100%); /* Gradient background */
  background-size: 200% 200%;
  border-radius: 10px;
  transition: background-position 0.5s ease;
}

#search-for-avail-room-button:hover {
  background-position: 100% 100%;
}
.private-wrapper{
    display: flex;
    flex-direction: column;
    gap:20px;
    outline: 5px solid green;
    
}
#room-lookup{
    display: flex;
    flex-direction: row;
    margin-top:15px;
    align-items: center;
    gap:15px;
    text-align: center;
}
#search-glass-wrapper>input{
    text-align: center;
}

.private-room-inputs input{
    width:45%;
}
.private-room-inputs label{
    display: flex;
    
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    gap:20px;

}
.private-room-inputs{
    display:flex;
    flex-direction:column;
    justify-self:flex-start;
    flex-wrap: wrap;
    gap:20px;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: auto;
    box-sizing: border-box;
}
.private-info{
    display:flex;
    flex-direction: column;
    gap:20px;
}
#room-lookup{
    flex-direction: column;
    
}
 .submit-button {
  width: 150px;
  height: 50px;
  border: 3px solid #1c2125;  /* Border color */
  background: linear-gradient(135deg, #1a1f23 0%, #2a3a4c 25%, #232a30 50%, #1a1f23 100%); /* Gradient background */
  background-size: 200% 200%;
  border-radius: 25px;
  box-shadow: 
    0 6px 12px rgba(0, 0, 0, 0.2),
    0 10px 24px rgba(0, 0, 0, 0.2),
    0 16px 40px rgba(0, 0, 0, 0.2),
    inset 0 -4px 12px #0d1115,
    inset 0 4px 8px #1c2125;  /* Shadows for 3D effect */
  transition: all 0.2s ease-in-out;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  margin-top:30px;
}

.submit-button:hover {
    font-weight: 780;
  transform: scale(0.95); /* Squish effect on hover */
   background: linear-gradient(135deg, #FF8C22 0%, #FFC085 25%, #FFA555 50%, #FF8C22 100%);
  border: 3px solid #FF8C22;  /* Updated Border color to match new color scheme */
  box-shadow: 
    0 6px 12px rgba(0, 0, 0, 0.2),
    0 10px 24px rgba(0, 0, 0, 0.2),
    0 16px 40px rgba(0, 0, 0, 0.2),
    inset 0 -4px 12px #FF6A00, /* Updated inset color to match new color scheme */
    inset 0 4px 8px #FF8C22;  
  border-radius:10px;

}



@media only screen and (max-width: 600px) {
#header-border{
    display:flex;
    flex-direction: row;
    border-width:2px;
    border-radius:10px;
    height:86px ;
}
.private-info{
    gap:10px;
}
.form-wrapper{
    margin:10px;
    align-items: center;
    justify-content: flex-start;
}
.question-wrapper{
    width: 88%;
}
.private-room-wrapper{
    justify-content: space-around;
    width:100%;
    flex-wrap: wrap;
    gap:0px;
}
#name-value{
    flex-direction: column;
    gap:0px;
    margin-top:25px;
}

}