.profile-main-container{
    position: relative;
    display:flex;
    align-items: center;
    width: 99%;
    margin-left:1px;
    margin-top:1rem;
    padding-top:3rem;
    outline:4px solid red;
    flex-direction: column;
    flex-wrap:wrap;
    overflow: hidden;
}
.profile-content{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    outline:4px solid blue;
    outline-offset: 1rem;
    gap:20px;
}
.profile-content>h2{
    align-self: flex-start;
}
.regular-border{
    position: relative;
    border-width:5px solid black;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
#profile-pic{
    position: relative;
    border-radius:100px;
    width:15rem;
    border-right:6px solid black;
    border-left:6px solid black;
    box-shadow:0px 5px 5px 2px rgb(15, 14, 14);
    box-sizing: border-box;
}
.wrapper {
  position: relative;
  height:16rem;
}
.gradient-border {
  --border-width: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: fit-content;
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  background: #222;
  border-radius: var(--border-width);
  &::after {
      position: absolute;
    box-sizing: border-box;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}
#username-switch-wrapper{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#button-svg-toggle{
    position: relative;
    height: 50px;
    width:50px;
    opacity: 25%;
    z-index: 1;
    transform: rotate(90deg);
    transition: transform 0.4s, opacity 0.3s;
}
#button-svg-toggle:hover{
    transform: scale(1.09);
    transform: rotate(0deg);
    opacity: 100%;
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@media only screen and (max-width: 600px) {

 .profile-content{
    flex-direction: column;
    gap:0px;
 }
 .profile-content>h2{
    align-self: center;
}
#username-switch-wrapper{
    align-self:center;
}
}