.flex-dots {
  display: flex;
  color: white;
}
:is(p) {
  font-family: sans-serif;
  font-weight: 800;
  text-transform: none !important;
}
:is(a) {
  font-family: sans-serif;
  font-weight: 800;
  color:darkblue
  
}
a:hover {
  color: black;
}
:is(em) {
  color: rgb(10, 203, 233);
  text-transform: lowercase;
}
:is(#dots) {
  color: rgb(253, 250, 250);
  font-weight: 800;
}
