.headerContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:5px;
  height: 4rem;  
  gap: 5px;
  background-color: black;
  width:100vw;
 
}
a{
  text-decoration: none;
}
.create_room_container {
  display: flex;
  flex-direction: row;
  gap:1rem;
  align-items: center;
  justify-content: center;
}
.logo-font{
    font-family: 'Berkshire Swash', serif;
    margin-right:1rem;
}
.logo-font:hover{
    color:red;
    cursor: pointer;
    pointer-events:stroke;

}
.buttonHeader{

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  background-color: #ea4335;
  height: 48px;
  &:hover{
  transform: scale(1.04);
  background-color: #34a853;
  }
}
#logout_button{
  
  background-color: transparent;
  height: 100%;
  width:100%;
  color:white;
  border:2px solid white;
  border-radius:5px;
  padding:8px;
  font-size:1rem;
  cursor: pointer;
  font-weight: 800;
  &:hover{
    background-color: white;
    color:black;
    border: 2px inset black;
  }
}
.navLinks{
  position: relative;
    display: flex;
    flex-direction: row;
    
    gap:10%;
    align-items:center;
    justify-content: space-between;
    list-style-type:none ;
}

.navLinks a{
    text-decoration: none;
}
.linkActive{
color:red;
}
.roomInput{
    margin:0;
    border-radius: 7px;
    height: 25px;
    align-self: center;
    width: 20%;
}
.visible_login_success{
  position: absolute;
  top:90vh;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:25px;
  border:2px solid white;
  border-radius:10px;
  padding:10px;
  font-size: 10px;
}
.visible_login_success > #loggedIn{
  color:#49c219;
}


@media only screen and (max-width: 600px) {
  .headerContainer {
    flex-direction: row;
    align-items: flex-start;
    width: 97%;
    height: auto;
    margin: 0px;
    border-radius: 5px 5px 15px 15px;
    padding: 0;
    border: 6px inset white;
  }
  .create_room_container {
    flex-direction: column;
    gap: 0.5rem;
  }
  .roomInput {
    width: 80%;
  }
  .navLinks {
    flex-direction: column;
    gap: 0px;
  }
  .buttonHeader {
    min-width: 100px;
    padding: 5px 10px;
    height: 36px;
  }
  .logo-font {
    font-size: 24px;
    margin-right: 0;
  }
  .visible_login_success {
    top:15%;
    right:20px;
    align-self:center;
    gap:2px;
    font-size: 8px;
    padding: 5px;
  }
 
   ul >li{
    height: 15%;
    
    font-size:1rem;
   }
   h2 {
   
    padding:1px;
   }
   .navLinks>button{
    margin-top:15px;
    background-color: transparent;
    color:white;
    font-weight:700;
    border:black;
    border-radius:25px;
   }
   
    .server-selection {
    display: flex;
    width: 50%;
    height: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.mainAccessBtn {
    width: 100%;
    display: flex;
    border: 3px outset black;
    color: white;
    align-items: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
}
}
