.headerContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:5px;
  height: 4rem;  
  gap: 5px;
  background-color: black;
  width:100vw;
 
}
a{
  text-decoration: none;
}
.create_room_container {
  display: flex;
  flex-direction: row;
  gap:1rem;
  align-items: center;
  justify-content: center;
}
.logo-font{
    font-family: 'Berkshire Swash', serif;
    margin-right:1rem;
}
.logo-font:hover{
    color:red;
    cursor: pointer;
    pointer-events:stroke;

}
.buttonHeader{

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  background-color: #ea4335;
  height: 48px;
  &:hover{
  transform: scale(1.04);
  background-color: #34a853;
  }
}
.navLinks{
  position: relative;
    display: flex;
    flex-direction: row;
    
    gap:10%;
    align-items:center;
    justify-content: space-between;
    list-style-type:none ;
}

.navLinks a{
    text-decoration: none;
}
.linkActive{
color:red;
}
.roomInput{
    margin:0;
    border-radius: 7px;
    height: 25px;
    align-self: center;
    width: 20%;
}
.visible_login_success{
  position: absolute;
  top:90vh;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:25px;
  border:2px solid white;
  border-radius:10px;
  padding:10px;
  font-size: 10px;
}
.visible_login_success > #loggedIn{
  color:#49c219;
}