.header{
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  
  gap: 5px;
  width: 100vw;
 background-color:black
}
.room-num-input{
display:flex;
flex-direction: column;
align-items: flex-end;
}

.messagesContainer.sender{
  position: relative;
  right:15rem;
  display: flex;
  flex-direction: column;
  
  justify-content:center;
  border: 3px solid black;
  
  gap:1rem;
  width:50vw;
  background-color: #5fc9f8;
   border-radius: 25px;
   width:fit-content;
}
.messagesContainer.receiver{
 position: relative;
 left:15rem;
  display: flex;
  flex-direction: row;
  width:fit-content;
  justify-content:center;
  border: 2px solid black;
  gap:1rem;
  padding:1px 30px;
  border-radius: 25px;
  background-color: #5fc9f8;
  
}
.username.sender{
  position: absolute;
  left:-175px;
  bottom:1px;
  display: flex;
  right: 20px;
  color:white;
  padding: 20px;
  z-index: 1;
}
.username.receiver{
  
     display: flex;
     align-items: flex-end;
     justify-content: flex-end;
    top: 47px;
    left:110%;
    bottom: 1px;
    color: white;
   

}
.messageBlockWrapper{
  position: relative;
  display: flex;
  flex-direction: row;
  gap:100px;
}
.timestamp_hidden{
display:flex;

}