.room-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  border: 4px solid #1c2125; /* Change the border color to match */
  border-top: 4px inset #0d1115; /* Inset color to match the internal shadow of .all-messages */
  box-sizing: border-box;
  background-color: #161a1d;
  animation: gradientBackground 24s ease infinite;
  font-family: "Shantell Sans", cursive;
  
}
.room-container > h1 {
  color: white;
  align-self: center;
}
.all_hubs_wrapper{
  display: flex;
  flex-direction: column;
  height: auto;
}
.main-room-wrapper {
  display: flex;
  flex-direction: column;

  align-self: center;
  align-items: center;
  
  justify-content: center;
  width: 50%;
}
.main-room-wrapper.new-user {
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 300px;
}
.main-room-wrapper.new-user > button {
  width: 200px;
  align-self: center;
}

.active-rooms-joined {
}


/* Add a pseudo-element for a decorative circle */
.main-room-button {
    width: 200px;
    height: auto;
    border: 1px inset #3498db45;
    color: white;
    background: #202327;
    background-size: 200% 200%;
    animation: gradientBackground 24s ease infinite;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 10px 24px rgba(0, 0, 0, 0.2), 0 16px 40px rgba(0, 0, 0, 0.2), inset 0 -4px 12px #0d1115, inset 0 4px 8px #1c2125;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
.main-room-button>p{
  font-size: 15px;
}


.main-room-button:hover {
  transform: scale(0.95); /* Slightly scaled down */
  border-radius: 13px; /* Less rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5),
    /* Lighter shadow */ 0 6px 12px rgba(0, 0, 0, 0.5),
    /* Lighter shadow */ 0 10px 20px rgba(0, 0, 0, 0.5),
    /* Lighter shadow */ inset 0 -8px 16px #0d1115, inset 0 8px 16px #1c2125;
  transition: all 0.4s ease-in-out; /* Faster transition */
}
.custom-text {
  display: inline-block;
  width: fit-content;
  color: darkolivegreen;
  font-size: 55px; /* Adjust the font size as needed */
  /* Other styles */
}

@media only screen and (max-width: 600px) {
  .room-container > h1 {
    font-size: 20px;
    font-weight: 800;
  }
}
