:root{
    --parent-background-color:gray;
}

h2 {
    color:white;
}
#inline-font-change{
    color:red;
    
}
form{
    position: relative;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    height: 100%;
    background-color: white;
    
}
.columnContainer{
    position: absolute;
    display:flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    position: relative;
   
}
.background-image {
    position: relative;
    display: flex;
    height: 70%;
    overflow: visible;
   
    width: 26%;
    background-size: 37%;
    background-repeat: no-repeat;
    background-position: -12px;
    background-image: url('./svgs/speachBubble.svg');
}
.new-user-header {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100vh;
perspective: 1000px;
  gap: 10%;
  
  /* Adding styling to match the chat room */
  background: linear-gradient(45deg, #161a1d, #2e353b, #3a434a); /* Dark background */
  box-shadow: 
    0 4px 8px rgba(255, 255, 255, 0.1),  /* Slight white tint */
    0 8px 16px rgba(255, 255, 255, 0.1),  /* Slight white tint */
    0 12px 24px rgba(0, 0, 0, 0.2); /* General shadow */
  
  /* Optional: 3D border to add a pop */
  border: 3px outset #2e353b;
}
.create_user{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
    background-color: var(--parent-background-color);
    border-radius: 15px;
    border: 5px solid rgb(0, 0, 0);
    border-style:inset groove;
    flex-wrap:nowrap;
    padding: 0px 20px 10px;
    box-sizing: border-box;
    gap: 10px;
    max-height: 300px;
    max-width: 500px;
    overflow: hidden;
    transition: max-height 8s  ease-out;
    padding-bottom: 20px;
    
}
.error-message> p{
    position: relative;
    bottom:-10px;
    color:rgb(247, 143, 7);
    font-weight: 700;
    align-self: flex-end;
    
}
.error-message{
    position:absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border-radius:10px;
    background-color: rgb(7, 7, 7);
    padding:0px 5px 0px 5px;
    top:-20px;
    left:15%;
    z-index: 1;
    
}
.create_user.image-added{
    max-height:600px;
}
.image-previewer {
    position: relative;
    height: 100px;
    width: 100px;
    display: flex;
    
}

.image-previewer.image-exist {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 25px;
    border: 4px solid #000000;
    border-style: groove ridge groove ridge;
    padding: 2px;
    box-shadow: 0px 0px 100px 5px #817a7a;
   animation: imageExistAnimation 2s ease-in-out;
    background-color: rgb(0, 0, 0);
}
@keyframes imageExistAnimation {
    0% {
        transform: translateY(0);
    }

    16% {
        transform: translateY(-100px);
    }

    28% {
        transform: translateY(-50px);
    }

    44% {
        transform: translateY(-75px);
    }

    59% {
        transform: translateY(-65px);
    }

    73% {
        transform: translateY(-70px);
    }

    88% {
        transform: translateY(-68px);
    }

    94% {
        transform: translateY(-150px); /* Bounce back up */
    }

    100% {
        transform: translateY(-70px); /* Final position */
    }
}
#image-self{
    border-radius:35px;
    border: 4px black;
    border-style: ridge solid ;
    box-sizing: border-box;
}



.create_user.error-css{
    border: 5px solid red;
    box-sizing: border-box;
    
}
.create_account_h2{
    display:flex;
    flex-direction: column;
    
}
.create_account_h2>h2{
    font-weight: 700;
    font-size: 3rem;
}
.userLoginElements{
    display:flex;
    flex-direction: row;
    gap:20%;
    width:100%;
    margin-bottom:10%;
    padding:25px;
}

.titleChatty{
    position: relative;
    padding-bottom: 25px;
    display: flex;
    overflow: visible;
    background-color: transparent;
    margin-bottom:3%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap:39px;
    transition: transform 4s;
    box-sizing: border-box;
    z-index: 1;
    border: 4px inset rgba(0, 0, 0, 0.2);
    border-radius:6px;

     box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    padding-right:10px;
    border-radius:25px;
    margin-top:10px;
    
}
.speach-bubble{
    position: absolute;
    width:60%;
    right:-20px;
    top:-35px;
    background-color:transparent;
    
    border-radius: 20%;
    z-index: 0;

}
#chatty{
    display: flex;
    position: relative;
      font-size:5em;
      color:#F5F5F5;
      font-family: 'Berkshire Swash', serif;
      z-index: 1;
}

.login-button-wrapper{
    position: relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap:20%;
    top:-25px;
}
.login-button-wrapper> #closeBtn{
border:5px solid snow;
box-sizing: border-box;
}

.login-button-wrapper.home{
    position: relative;
    top:10%;
}
.welcomeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  align-items: center;
  background: linear-gradient(45deg, #1a1a1a, #2d2d2d);
  bottom: 10%;
  transition: transform 2s ease;
  color: white;

  /* Multi-layer borders for 3D effect */
 
  box-shadow: 
    0 0 0 10px #888, 
    0 0 0 15px #aaa, 
    0 0 0 20px #ccc,
    0 0 0 25px #eee;

  /* Border radius for rounded but not a full circle */
  border-radius: 49px
}
fieldset{
    border-color:black;
    border-width: 1px 2px 6px 6px;
    border-radius:35px;
    padding: 0px 20px;
    border-style: inset inset groove outset ;
    box-sizing: border-box;
    
}
legend{
    
    display: block;
     font-size:3ch;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

     
}
article{
    position: relative;
    padding-top:1em;;
    color:black;
    padding-left:2em;
    padding-right: 2em;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Shantell Sans', cursive;
    color:white;
    line-height: 38px;
}

.create_user.error-css input{
    border:3px solid red;
    
}
.input-box-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    width: 100%;
    margin-top:10px;
}
.input-box-container:focus-within> input{
    outline:5px solid purple;
    outline-offset: -2px;
}
.input-box-container.failed> input{
    border: 3px solid red;
}
input {
    margin:0;
    border-radius: 9px;
    height: 30px;
    align-self: center;
    width: 100%;
    border-style: none solid solid none;
    
}
label{
    color:whitesmoke;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom:7px;
    z-index: 2;
}

.file_upload:focus-within input::file-selector-button{
    outline:4px solid purple;
    outline-offset: -2px;
        
}
 #upload:focus{
    outline:4px solid purple;
    outline-offset: -2px;
}
#upload{
    font-weight:700;
    border-radius: 10px;
    align-self: flex-start;
}
.file_upload{
    position: relative;
    display:flex;
    flex-direction: column;
    align-self: flex-start;
    bottom:40px;
    gap:20px;
    align-items: flex-start;
}
.uploaded_div{
    display:flex;
    flex-direction: column;
}

input::file-selector-button{
    border-radius:7px;
    padding:7px;
    border:2px inset lightblue;
    font-weight: 700;
}
input::file-selector-button:hover{
     transform: scale(1.04);
     background-color: plum;
     border:2px solid black;
     box-sizing: border-box;
}

.photo-upload_buttons{
    border-radius: 15px;
    background-color: snow;
    width:fit-content;
    padding:7px;
}

#closeBtn{
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius:12px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 100px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 5px 10px;
  color: #fff;
  background-color: #ea4335;
  height: 48px;
  &:hover{
  transform: scale(1.09);
  background-color: #03de57;
  }
}
#closeBtn:focus-within{         
    border:4px solid rgb(0, 229, 255);               
}
.login-failed {
  position: relative;
  box-sizing: border-box;
  display:flex;
  background-color: snow;
  border-radius:10px;
  color: red;
  padding:10px;
  font-weight: 700;
  box-shadow:0px 0px 10px 3px red;
}
@media only screen and (max-width: 600px){
    .speach-bubble {
  display: none;
    }
    .welcomeContainer{
        width:350px;
    }
element.style {
    gap: 15px;
}
.titleChatty {
    position: relative;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    overflow: visible;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width:fit-content;
    transition: gap 0.4s ease-in;
    box-sizing: border-box;
    gap:5px;
    z-index: 1;
    outline:4px solid red;
}
#chatty{
    position: relative;
    align-self:center;
    font-size:3em;
}
article{
    min-width:291px
}
}